* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  font-family: Roboto;
}

body {
  min-height: 100vh;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
