* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 200vh;
  background-color: #000;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
