.header {
  width: 100%;
  padding-left: 17px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.46);
}

.nav-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 37px;
}

.nav-top .nav-list {
  width: 100%;
  display: flex;
  gap: 32px;
}

.nav-top .nav-list .nav-item {
  font-weight: 500;
  padding: 26px 0;
  color: #fff;
}
