/* Header */
.header {
  width: 100%;
  padding: 0 57px 0 17px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.46);
  background: linear-gradient(to bottom, #111 1%, transparent 99%);
}

/* Nav-top */
.nav-top {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 37px;
}

.nav-top .nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-top .nav-list .nav-item {
  font-weight: 500;
  padding: 26px 0;
  color: #fff;
}

/* Show-cape */
.show-cape {
  height: 50vh;
  margin-top: 200px;
  display: flex;
  align-items: flex-end;
  color: #fff;
}

.show-cape .show-cape-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-cape .show-cape-info .show-title {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 19px;
  text-align: center;
}

.show-cape .show-cape-info .cape-genres {
  display: flex;
  gap: 14px;
  font-size: 12px;
  font-weight: 500;
}

.show-cape .show-cape-info .show-cape-options {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
}

.show-cape .show-cape-info .show-cape-options .cape-mylist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.show-cape .show-cape-info .show-cape-options .cape-btn {
  width: 101px;
  background-color: #fff;
  color: #200505;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border-radius: 5px;
  border: none;
}

.show-cape .show-cape-info .show-cape-options .cape-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
