/* Nav-bar */
.nav-bar {
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: -1px;
  padding: 0px 34px 0px 28px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;

  background: #171717;
}

.nav-bar .nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 29px;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icon img {
  opacity: 0.5;
}

.nav-icon span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8px;
  margin-top: 6px;
}
